/*-----------------------------------------------
ブロックの基底要素
-----------------------------------------------*/

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Noto Sans", serif;
}


body * {
    font-family: "Noto Sans JP", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0;
}


body {
    margin: 0;
}


p {
    margin: 0;
}


img {
    width: 100%;
}

/* components */
.greenbox{
    background-color: #60CAAD;
    border-radius: 4px;
}

.greenbox p{
    color: white;
    text-align: center;
}
#header-greenbox{
    height: 52px;
    width: 160px;
}
#header-greenbox p{
    line-height: 52px;
    font-size: 18px;
}
#top-greenbox{
    margin: 48px auto 0 auto;
    height: 52px;
    width: 400px;
}
#top-greenbox p{
    line-height: 52px;
    font-size: 20px;
}
#bottom-greenbox{
    margin: 8px auto;
    height: 52px;
    width: 400px;
}
#bottom-greenbox p{
    line-height: 52px;
    font-size: 20px;
}

/* components */
header{
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 144px;
    padding-right: 144px;
    justify-content: space-between;
}
header p{
    font-size: 28px;
}
/* header */
/* main-top */
#top-section{
    position: relative;
    height: 540px;
}
#top-section::before {
    content: '';
    background-image: url(./img/fv-bg.jpg);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 40%;
    z-index: -1;
}

.top-contents{
    text-align: center;
    padding-top: 169px;
}

.top-contents h1{
    font-size: 36px;
}

.top-contents p{
    margin-top: 8px;
    font-size: 28px;
}

/* main-top */
/* main-middle */

#middle{
    height: 549px;
    text-align: center;
    padding-left: 224px;
    padding-right: 224px;
}

#middle h2{
    margin-top: 72px;
    font-size: 28px;
}

#middle-contents{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#middle-contents p{
    font-size: 16px;
    width: 480px;
    margin: auto 0px;
}

.green-bar{
    width: 56px;
    height: 4px;
    background-color: #60CAAD;
    margin: 0 auto;
}
/* main-bottom */
#bottom{
    background-color: #f9f9f9;
    width: 1440px;
    height: 418px;
    text-align: center;
    padding-top: 26px;
}
h3{
    margin-top: 72px;
    font-size: 28px;
}
#dl-explain{
    margin-top: 26px;
    font-size: 16px;
}
#dl-comment{
    position: relative;
    display: inline-block;
    margin-top: 56px;
    font-size: 18px;
}

#dl-comment::after{
    position: absolute;
    left: -10px;
    top: 0;
    content: "";
    width: 1px;
    height: 100%;
    background: #000;
    border-radius: 3px;
    transform: rotate(-25deg);
}
#dl-comment::before{
    position: absolute;
    content: "";
    right: -10px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #000;
    border-radius: 3px;
    transform: rotate(25deg);
}
/* main-bottom */
/* footer */
footer{
    background-color: #333333;
    height: 125px;
    text-align: center;
}
footer p{
    line-height: 125px;
    color: white;
}
/* footer */